<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="puberty.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>Puberty Project</title>
  </head>
  <body>
    <header>
      <a href="/explore" class="btn41-43 btn-41"
        ><i class="fas fa-angle-double-left"></i> Back
      </a>
      <div class="logo">
        <a href="/" class="logo btn-41 btn41-43">
          <span class="letter-0">⚤</span>
          <span class="letter-1">P</span><span class="letter">u</span
          ><span class="letter">b</span><span class="letter">e</span
          ><span class="letter">r</span><span class="letter">t</span
          ><span class="letter">y</span><span class="letter-1">P</span
          ><span class="letter">r</span><span class="letter">o</span
          ><span class="letter">j</span><span class="letter">e</span
          ><span class="letter">c</span><span class="letter">t</span></a
        >
      </div>
      <h1 class="topic">Puberty</h1>
    </header>
    <section class="container-1">
      <div class="square-1">
        <div>
          <img
            class="img-1"
            src="https://img.freepik.com/free-vector/hand-drawn-mindfulness-concept-with-characters_52683-69073.jpg?w=740&t=st=1679489175~exp=1679489775~hmac=ecf92e8f98ed1f7830061214eeb2646b3b367c3792a869cfa52ba0f5d3792cb1"
            alt="photo"
          />
        </div>
        <div class="content-1">
          <h1>Mental Health & Adolescence</h1>
          <p>
            One in six people are aged 10-19 years. Adolescence is a unique and formative time. Physical, emotional and social
            changes, including exposure to poverty, abuse, or violence, can make adolescents vulnerable to mental health problems.
            Protecting adolescents from adversity, promoting socio-emotional learning and psychological well-being, and ensuring
            access to mental health care are critical for their health and well-being during adolescence and adulthood.
            
            Globally, it is estimated that 1 in 7 (14%) 10-19 year-olds experience mental health conditions(1), yet these remain
            largely unrecognized and untreated.
            
            Adolescents with mental health conditions are particularly vulnerable to social exclusion, discrimination, stigma
            (affecting readiness to seek help), educational difficulties, risk-taking behaviours, physical ill-health and human
            rights violations.
          </p>

          <h1>Mental health determinants</h1>
          <p>
            Adolescence is a crucial period for developing social and emotional habits important for mental well-being. These
            include adopting healthy sleep patterns; exercising regularly; developing coping, problem-solving, and interpersonal
            skills; and learning to manage emotions. Protective and supportive environments in the family, at school and in the
            wider community are important.
            
            Multiple factors affect mental health. The more risk factors adolescents are exposed to, the greater the potential
            impact on their mental health. Factors that can contribute to stress during adolescence include exposure to adversity,
            pressure to conform with peers and exploration of identity. Media influence and gender norms can exacerbate the
            disparity between an adolescent’s lived reality and their perceptions or aspirations for the future. Other important
            determinants include the quality of their home life and relationships with peers. Violence (especially sexual violence
            and bullying), harsh parenting and severe and socioeconomic problems are recognized risks to mental health.
            
            Some adolescents are at greater risk of mental health conditions due to their living conditions, stigma, discrimination
            or exclusion, or lack of access to quality support and services. These include adolescents living in humanitarian and
            fragile settings; adolescents with chronic illness, autism spectrum disorder, an intellectual disability or other
            neurological condition; pregnant adolescents, adolescent parents, or those in early or forced marriages; orphans; and
            adolescents from minority ethnic or sexual backgrounds or other discriminated groups.
          </p>
          <h1>Emotional disorders</h1>
          <p>
            Emotional disorders are common among adolescents. Anxiety disorders (which may involve panic or excessive worry) are the
            most prevalent in this age group and are more common among older than among younger adolescents. It is estimated that
            3.6% of 10-14 year-olds and 4.6% of 15-19 year-olds experience an anxiety disorder. Depression is estimated to occur
            among 1.1% of adolescents aged 10-14 years, and 2.8% of 15-19-year-olds. Depression and anxiety share some of the same
            symptoms, including rapid and unexpected changes in mood.
            
            Anxiety and depressive disorders can profoundly affect school attendance and schoolwork. Social withdrawal can
            exacerbate isolation and loneliness. Depression can lead to suicide.
          </p>
          
          <h1>Behavioural disorders</h1>
          <p>
            Behavioural disorders are more common among younger adolescents than older adolescents. Attention deficit hyperactivity
            disorder (ADHD), characterized by difficulty paying attention, excessive activity and acting without regard to
            consequences, occurs among 3.1% of 10-14 year-olds and 2.4% of 15-19 year-olds(1). Conduct disorder (involving symptoms
            of destructive or challenging behaviour) occurs among 3.6% of 10-14 year-olds and 2.4% of 15-19 year-olds(1).
            Behavioural disorders can affect adolescents’ education and conduct disorder may result in criminal behaviour.
          </p>
          
          <h1>Eating disorders</h1>
          <p>
            Eating disorders, such as anorexia nervosa and bulimia nervosa, commonly emerge during adolescence and young adulthood.
            Eating disorders involve abnormal eating behaviour and preoccupation with food, accompanied in most instances by
            concerns about body weight and shape. Anorexia nervosa can lead to premature death, often due to medical complications
            or suicide, and has higher mortality than any other mental disorder.
          </p>
          
          <h1>Psychosis</h1>
          <p>
            Conditions that include symptoms of psychosis most commonly emerge in late adolescence or early adulthood. Symptoms can
            include hallucinations or delusions. These experiences can impair an adolescent’s ability to participate in daily life
            and education and often lead to stigma or human rights violations.
          </p>
          
          <h1>Suicide and self-harm</h1>
          <p>
            Suicide is the fourth leading cause of death in older adolescents (15-19 years)(2). Risk factors for suicide are
            multifaceted, and include harmful use of alcohol, abuse in childhood, stigma against help-seeking, barriers to accessing
            care and access to means of suicide. Digital media, like any other media, can play a significant role in either
            enhancing or weakening suicide prevention efforts.
          </p>
          
          <h1>Risk-taking behaviours</h1>
          <p>
            Many risk-taking behaviours for health, such as substance use or sexual risk-taking, start during adolescence.
            Risk-taking behaviours can be an unhelpful strategy to cope with emotional difficulties and can severely impact an
            adolescent’s mental and physical well-being.
            
            Worldwide, the prevalence of heavy episodic drinking among adolescents aged 15­-19 years was 13.6% in 2016, with males
            most at risk(3).
            
            The use of tobacco and cannabis are additional concerns. Many adult smokers had their first cigarette prior to the age
            of 18 years. Cannabis is the most widely used drug among young people with about 4.7% of 15-16 years-olds using it at
            least once in 2018(4).
            
            Perpetration of violence is a risk-taking behaviour that can increase the likelihood of low educational attainment,
            injury, involvement with crime or death. Interpersonal violence was ranked among the leading causes of death of older
            adolescent boys in 2019(5).
          </p>

          <h1>Promotion and prevention</h1>
          <p>
            Mental health promotion and prevention interventions aim to strengthen an individual's capacity to regulate emotions,
            enhance alternatives to risk-taking behaviours, build resilience for managing difficult situations and adversity, and
            promote supportive social environments and social networks.
            
            These programmes require a multi-level approach with varied delivery platforms – for example, digital media, health or
            social care settings, schools or the community – and varied strategies to reach adolescents, particularly the most
            vulnerable.
          </p>

          <h1>Early detection and treatment</h1>
          <p>
            It is crucial to address the needs of adolescents with mental health conditions. Avoiding institutionalization and
            over-medicalization, prioritizing non-pharmacological approaches, and respecting the rights of children in line with the
            United Nations Convention on the Rights of the Child and other human rights instruments are key for adolescents’ mental
            health.
          </p>
          
          
        </div>
      </div>
    </section>
    
  </body>
</html>
