<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="puberty.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>Puberty Project</title>
  </head>
  <body>
    <header>
      <a href="/explore" class="btn41-43 btn-41"
        ><i class="fas fa-angle-double-left"></i> Back
      </a>
      <div class="logo">
        <a href="/" class="logo btn-41 btn41-43">
          <span class="letter-0">⚤</span>
          <span class="letter-1">P</span><span class="letter">u</span
          ><span class="letter">b</span><span class="letter">e</span
          ><span class="letter">r</span><span class="letter">t</span
          ><span class="letter">y</span><span class="letter-1">P</span
          ><span class="letter">r</span><span class="letter">o</span
          ><span class="letter">j</span><span class="letter">e</span
          ><span class="letter">c</span><span class="letter">t</span></a
        >
      </div>
      <h1 class="topic">Puberty</h1>
    </header>
    <section class="container-1">
      <div class="square-1">
        <div>
          <img
            class="img-1"
            src="https://hormonehealth.co.uk/wp-content/uploads/mood-swings-hormonal-imbalance-menopause-hormone-health.jpg"
            alt="photo"
          />
        </div>
        <div class="content-1">
          <h1>Menstruation</h1>
          <h2 style="margin-top: 2rem">-----What is a period?</h2>
          <p>
            Periods or menstruation is a natural biological process in which
            blood and tissue from your uterus come out from your vagina. This
            usually happens once a month. The onset of menstrual periods in
            girls is the body’s way of preparing itself for a possible
            pregnancy. The ovaries are responsible for the release of the
            hormones, oestrogen, and progesterone. These female hormones signal
            the building up of the uterine lining or endometrium that nurtures a
            fertilized egg.
          </p>
          <p>
            The same hormones signal the release of an egg from one of the
            ovaries during ovulation. This egg travels through the fallopian
            tube and attaches to the uterine lining – ready for fertilization.
            In the absence of a sperm cell to fertilize the egg, the uterine
            lining breaks down and is shed by way of a period.
          </p>
          <p>
            This lining takes on an average of around 28 days to build up, break
            down, and eventually get shed. Most women experience a period cycle
            of anywhere between 21 to 35 days.
          </p>

          <h2 style="margin-top: 2rem">------What is a period cycle?</h2>
          <p>
            The period cycle or menstrual cycle is the time between the first
            days of your last and next period. For example, if your last period
            started on the 10th of January and you get your next period on the
            8th of February, your menstrual cycle is the time between January 10
            and February 08. It can be understood better in the following four
            stages:
          </p>
          <p>
            ->Your uterine lining thickens up over a period of about 28 days and
            begins to shed as your period starts. The first day of your period
            is considered to be the first day of your menstrual cycle.<br /><br />->An
            average period can last anywhere between 2 to 7 days and during this
            time the uterine lining is shed and discharged through your vagina.
            Once your period ends, the lining starts to thicken again – in
            preparation for a potential pregnancy. <br /><br />->Around day 14,
            the ovaries release an egg in a process called Ovulation which makes
            its way to the uterus where it can get settled in the uterine
            lining. <br /><br />->If during this period, the egg is not
            fertilized, the lining of the uterus breaks down and begins to shed
            and you get your period again.
          </p>
          <h2 style="margin-top: 2rem">-----Do periods hurt?</h2>
          <p>
            Many women experience premenstrual syndrome or PMS during the weeks
            leading up to their period. This may be characterized by symptoms
            such as mood swings, acne, anxiety, bloating, feeling irritable or
            short tempered.
          </p>
          <p>
            You are also likely to experience period pain during the first
            couple of days of your period. It can range between substantial
            cramps in your lower abdomen or dull stomach pain during periods
            accompanied by an aching lower back.
          </p>
          <p>
            While pain during the period is normal, if cramps during period
            become unbearable and start to interfere with your day-to-day life,
            it is better to pay your doctor a visit for a thorough examination
            of the underlying cause.
          </p>
          <h2 style="margin-top: 2rem">-----How to reduce period pain?</h2>
          <p>
            Period pain generally eases away as your period progresses but if
            period cramps are keeping you from going about your day as usual,
            you can try the following remedies:
          </p>
          <p>
            ->A hot water bag or a heated pain relief pad can make periods
            significantly less painful. <br /><br />->Take over-the-counter pain
            medication. <br /><br />->However, if taking pain medications does
            not help with menstrual cramps, it is advisable to pay your doctor a
            visit.
          </p>
          <h2 style="margin-top: 2rem">
            -----Should I Watch for Any Problems?
          </h2>
          <p>
            Most girls don't have any problems with their periods. But call your
            doctor if you:
          </p>
          <p>
            ->are 15 and haven't started your period <br /><br />->have had your
            period for mo>re than 2 years and it still doesn't come regularly
            (about every 4–5 weeks) <br /><br />->have bleeding between periods
            <br /><br />->have severe cramps that don't get better with
            ibuprofen or naproxen <br /><br />->have very heavy bleeding
            (bleeding that goes through a pad or tampon faster than every 1
            hour) <br /><br />->have periods that last more than about a week
            <br /><br />->have severe PMS that gets in the way of your everyday
            activities
          </p>
        </div>
      </div>
    </section>
    <!-- <section class="container-2">
      <div class="square-2">
        <div><img src="" alt="/images/pimplegirl.png" class="img-2" /></div>
        <div class="content-2">
          <h1>pimple</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            quisquam debitis accusantium corporis enim impedit minima eveniet
            voluptatibus porro architecto cupiditate ea recusandae at quibusdam,
            facere molestias, voluptate esse deserunt atque asperiores officiis!
            Expedita numquam culpa facilis dolor, esse, aut inventore, ratione
            illum quas officia quisquam dolorum harum. Maiores, voluptatibus
            maxime sunt earum adipisci ratione cum officiis similique! Nulla,
            culpa nam iure consectetur perspiciatis ducimus sit vitae deserunt
            reprehenderit illum ipsam labore, voluptas delectus! Accusamus nulla
            reiciendis aperiam, veniam amet, doloremque vel vero tempora
            mollitia ratione porro voluptas sapiente libero, incidunt quidem
            dolore cumque dicta doloribus. Numquam nemo eveniet ipsum adipisci
            illum corrupti eum ipsa sunt asperiores quidem, expedita aliquam,
            magni repellat laboriosam amet esse ab totam ducimus debitis
            dignissimos ut fugit. Facilis dicta consequatur blanditiis pariatur
            ab ratione delectus iure necessitatibus, vel possimus amet
            perferendis eius quam. Exercitationem sapiente, sunt cum dolorum
            quasi minima fugit quidem temporibus libero asperiores, numquam
            illo. Aspernatur molestias cum ipsum corporis ratione quisquam
            officiis, reiciendis obcaecati blanditiis ipsam ducimus voluptatum
            numquam in, consequuntur ut facere recusandae earum dignissimos
            aliquid eligendi magnam! Fugit voluptate expedita magnam asperiores
            soluta error? Provident itaque nesciunt doloribus, aut quis minima
            quibusdam! Laudantium culpa placeat rem. Voluptatem nam unde non.
          </p>
        </div>
      </div>
    </section> -->
  </body>
</html>
