<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="puberty.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>Puberty Project</title>
</head>

<body>
    <header>
        <a href="/explore" class="btn41-43 btn-41"><i class="fas fa-angle-double-left"></i> Back
        </a>
        <div class="logo">
            <a href="/" class="logo btn-41 btn41-43">
                <span class="letter-0">⚤</span>
                <span class="letter-1">P</span><span class="letter">u</span><span class="letter">b</span><span
                    class="letter">e</span><span class="letter">r</span><span class="letter">t</span><span
                    class="letter">y</span><span class="letter-1">P</span><span class="letter">r</span><span
                    class="letter">o</span><span class="letter">j</span><span class="letter">e</span><span
                    class="letter">c</span><span class="letter">t</span></a>
        </div>
        <h1 class="topic">Puberty</h1>
    </header>
    <section class="container-1">
        <div class="square-1">
            <div>
                <img class="img-1"
                    src="https://img.freepik.com/free-vector/family-concept-illustration_114360-2047.jpg?w=1060&t=st=1679488986~exp=1679489586~hmac=99444525f2b60ed6d72fdd2e6fb27acf9cd86ae5cc11099e2fc2bbffb02a6ec5"
                    alt="photo" />
            </div>
            <div class="content-1">
                <h1>What to expect during puberty</h1>
                <p>
                    During puberty, most children will experience:
                <ul>
                    <li>
                        oily skin (acne is possible)
                    </li>
                    <li>
                        oily hair, possibly requiring frequent washing
                    </li>
                    <li>
                        increased perspiration and body odour (frequent showering and deodorant help)
                    </li>
                    <li>
                        a growth spurt (of around 11 cm a year in girls and up to 13 cm a year in boys). Teens continue
                        to grow about one to 2
                        cm a year after this main growth spurt. Some body parts (such as head and hands) may grow faster
                        than limbs and torso.
                        The body eventually evens out.
                    </li>
                </ul>
                <br>
                <h3>Girls will experience:</h3>   
                <br>
                <ul>
                    <li>
                        breast development and possible tenderness
                    </li>
                    <li>
                        a change in their figure, including widening of the hips
                    </li>
                    <li>
                        growth of pubic and underarm hair
                    </li>
                    <li>
                        the start of menstruation – periods may be irregular at first. Some discomfort, like headaches
                        and stomach cramps, is
                        normal but see your doctor if you have concerns
                    </li>
                    <li>
                        a clear or whitish vaginal discharge – this may occur before periods. See your doctor if your
                        daughter experiences
                        itching, pain or strong odour.
                    </li>
                </ul>
                <br>
                <h3>Boys will experience:</h3>   
                <br>
                <ul>
                    <li>
                        growth of the penis and testes (testicles). Sometimes the growth of the testes is uneven (that
                        is, one testis grows
                        faster than the other). This is not something to worry about
                    </li>
                    <li>
                        growth of pubic, underarm and facial hair
                    </li>
                    <li>
                        the start of testosterone production, which stimulates the testes to produce sperm
                    </li>
                    <li>
                        the start of erections and ejaculation
                    </li>
                    <li>
                        growth of the larynx or voice box – the voice ‘breaks’ and eventually deepens. Voice variations
                        are normal and will
                        settle in time.
                    </li>
                </ul>
                </p>

                <h1>What to expect socially and emotionally</h1>
                <p>
                    Your child will want to establish their own identity. This can mean exploration of relationships and
                    the world that exists outside of their immediate family increases. This may include new friendships
                    and experiences, and learning how to navigate the inevitable challenges that can occur when a young
                    person expands their understanding of their social world. They may also start to explore their
                    sexual and gender identity through dating and romantic relationships.

                    These are all vital learnings for young people, as the experiences create a foundation of
                    understating for an adolescent about how to identify unhealthy relationships and how to engage in
                    healthy ones that will develop throughout their adult life.

                    A young person may also be sensitive about how they look and their new body changes. Privacy and
                    personal space may become very important to them. They may alternate between feeling self-conscious
                    about themselves one day, to feeling ‘bullet proof’ the next.

                    Mood swings may be expected at the adolescent stage as young people are still learning how to
                    control their emotions while so many physical and hormonal changes are occurring in their body.
                </p>

                <h1>Teenagers and social media</h1>
                <p>
                    Social media use is common among teenagers. It has a range of benefits such as:
                <ul>
                    <li>
                        connecting with friends
                    </li>
                    <li>
                        feeling less isolated
                    </li>
                    <li>
                        exposure to new ideas.
                    </li>
                </ul>
                <br>
                <h3>It also has risks such as:</h3>
                <br>
                <ul>
                    <li>
                        cyberbullying
                    </li>
                    <li>
                        spending too much time online
                    </li>
                    <li>
                        sexting
                    </li>
                    <li>
                        image-based abuse (someone else sharing a young person’s sext without consent or knowledge)
                    </li>
                    <li>
                        exposure to harmful and inappropriate content or online grooming (normalising inappropriate and
                        potentially sexualised behaviours) from sexual predators.
                    </li>
                </ul>
                <br>
                Read more about <a
                    href="https://www.betterhealth.vic.gov.au/health/healthyliving/internet-safety-for-children">internet
                    safety for children</a> on the Better Health Channel or visit the <a
                    href="https://headspace.org.au/explore-topics/supporting-a-young-person/social-media/">Headspace
                    website</a>
                for social media advice for families. The <a href="https://youthlaw.asn.au/">Youthlaw website</a> has
                legal information and resources for
                parents, workers and adults supporting young people.
                </p>

                <h1>How you can support your child during puberty</h1>
                <p>
                    One of the best strategies during your child’s puberty is reassurance and ensuring they know you are
                    a safe adult that they can trust to share difficult conversations, without fear of judgement or
                    embarrassment.

                    Explaining that puberty is an exciting time that means adulthood is approaching can be a positive
                    way to introduce this time of change.

                    Try to show compassion for the changes they’re experiencing and reassure them the changes are
                    normal, and that many are only temporary. If you are worried or are unsure about your child’s
                    development, you can contact a range of support services which are listed at the bottom of this
                    page.
                    <br><br>
                    You may also find it useful to keep the following tips in mind:
                    <br>
                    <br>
                    > Praise your teenager for their efforts, achievements and positive behaviour.
                    <br>
                    > Put yourself in your child’s shoes. If you experience them pushing back on boundaries, try to see
                    their behaviour for what it often is: your child struggling to become an individual.
                    <br>
                    > Try to stay calm during angry outbursts from your child. Wait for your child to cool down before
                    talking about the problem. They will be learning how to regulate their own emotions from how you
                    react when there is conflict in the home.
                    <br>
                    > Stay interested and involved in your child’s life, and always let them know you are available if
                    they want to talk.
                    <br>
                    > Chat to your partner or other parents of teenagers. Sharing concerns and experiences can help
                    normalise the process and make you feel more supported, in turn you can support your young person.
                    <br>
                    > Try to support your child in their self-expression, even if some of it seems odd to you, such as
                    an extreme haircut or strange or different clothing choices.
                    <br>
                    > Try to tolerate long periods of time spent on personal care, such as hours in the bathroom, but
                    chat to your child about reasonable family time limits.
                    <br>
                    > Talk to your child about any permanent changes they want to make to their body, such a tattoos and
                    piercings, and discuss temporary alternatives, such as henna (removable) tattoos.
                    <br>
                    > If your child has acne, talk to them about how they feel about it. If it is bothering them, ask if
                    they would like to see a doctor. Your doctor may refer your teenager to a skin specialist or
                    dermatologist.
                </p>

                <h1>How to talk about puberty and body image</h1>
                <p>
                    The best time to talk about puberty with your child is before it begins. Take an open and relaxed
                    approach to chatting with your child.

                    Use the correct terms for body parts so your child learns the right words and is comfortable using
                    them when talking about their body. They need to know their body parts are normal and natural, with
                    words to match.

                    You may like to open a conversation by asking whether your child has learned about puberty at school
                    and what they’ve been taught. Or asking them what they think about it or what they think it means.
                    They may have some knowledge and ideas already.

                    Convey facts in the conversation, such as ‘Every young person goes through these changes, but not
                    always at the same time. Have you noticed that?’ And talk about your values too: for instance, you
                    may choose to say that you think a behaviour such as masturbation is a normal way to handle sexual
                    feelings.

                    Pick a time to talk when there are no distractions, and don’t be worried if your child doesn’t want
                    to share everything with you. They may prefer to talk to your family doctor or a counsellor.
                </p>

                <h1>How you can support your daughter during puberty</h1>
                <p>
                    Helping your daughter with firsts, such as being ready for their first period can be a very
                    important time for the relationship between a parent and their daughter.

                    Help them prepare by providing them with information and having conversations about periods being
                    nothing to be ashamed of, being an important ritual for young women and a normal part of becoming an
                    adult. Provide them with sanitary items for home and school, and explain how to use them
                    hygienically (for example, having clean hands when using tampons, or not sleeping with one in
                    place).

                    Discuss how cramping and other mood changes may accompany the time of bleeding each month, and
                    explore ways to relieve pain, such as a hot water bottle. You don’t always have to resort to
                    medication, however you can discuss with your doctor or pharmacist if required.

                    Talk to your doctor if your daughter hasn’t had her period by 16 or 17 years of age, or if her
                    periods stop after they’ve started.

                    Explain to your daughter that all these changes are natural and happen to every young person in
                    their own time.

                    Discussing societal gender conditioning and challenging female stereotypes can also be extremely
                    important. Explore what role models your young person may admire and why, and ensure your daughter
                    understands that girls and women can be strong, work in trades with tools and not have to look
                    pretty or sexualised in order to be accepted.
                </p>

                <h1>How you can support your son during puberty</h1>
                <p>
                    Helping your son through puberty is mostly about reassurance. Reassure your son that testes develop
                    unevenly, and it’s common for one to be lower than the other. If your son’s testes are very small or
                    not both in the scrotum, see your GP.

                    You may also need to reassure your son that penis size does not affect sexual functioning, and that
                    erect penises are usually very similar in size. Every boy develops in his own time. Ejaculating
                    during sleep (sometimes called a wet dream) and spontaneous erections are both normal.

                    Having conversations about gender and how this is viewed in our society can be important, as there
                    are stereotypes and conditioning that can impact a young person’s confidence through these pubescent
                    changes. For example, discuss how having a small penis does not mean a young person is less of a
                    person than others who may have a larger one. Or challenge masculine stereotypes by discussing how
                    it is healthy for boys and men to show and express emotion, tears, vulnerability and gentleness.

                    If your son experiences breast growth or tenderness, he may be concerned. Again, reassurance and
                    normalising the experience is the key. Any tenderness is likely to settle once his chest widens. If
                    your son feels small or too thin for his age, reassure him he will grow in time.

                    Remember, you know your child best. If anything about their development concerns you, see your GP.
                </p>

                <h1>How to look after yourself at this time</h1>
                <p>
                    It’s important that you look after yourself during this potentially challenging time in your child’s
                    development. Trust in your skills as a parent – and talk to others or read up on the subject so you
                    feel confident in guiding your child through it.
                    <br><br>
                    Some tips for ways to take care of yourself:
                    <br><br>
                    > Prepare a weekly family plan, so you know what people are doing and where they need to be. Include
                    some fun family rituals, like Saturday night cards, or maybe a weekly walk or bike ride. Don’t
                    forget to schedule some time for yourself.
                    <br>
                    > Nurture your relationship with your partner. Remember, they’re facing many of the same challenges
                    that you are. A regular date night in your family schedule can be very helpful to deepen your
                    connection and ability to support each other as parents and as romantic partners.
                    <br>
                    > Use your support networks, like grandparents, other family members and friends. What child
                    (including your teenager) doesn’t enjoy being spoiled by a doting grandparent? You could also share
                    carpooling or supervision duties with friends.
                    <br>
                    > Ask the kids to help out with household chores. Your child will learn some new skills, gain some new
                    responsibility, and it will lighten the load for you as parents and carers. Focusing on positive
                    reinforcement for tasks done well rather than punishment for tasks not done has been shown to be a
                    more effective method of parenting where appropriate.
                    <br>
                    > Stay positive and keep things in perspective. Adolescence does not last forever, and it is a
                    temporary stage in your young person’s life.
                    For an extra boost, you could try some meditation, yoga or deep breathing exercises.
                </p>


            </div>
        </div>
    </section>

</body>

</html>