<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="puberty.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>Puberty Project</title>
  </head>
  <body>
    <header>
      <a href="/explore" class="btn41-43 btn-41"
        ><i class="fas fa-angle-double-left"></i> Back
      </a>
      <div class="logo">
        <a href="/" class="logo btn-41 btn41-43">
          <span class="letter-0">⚤</span>
          <span class="letter-1">P</span><span class="letter">u</span
          ><span class="letter">b</span><span class="letter">e</span
          ><span class="letter">r</span><span class="letter">t</span
          ><span class="letter">y</span><span class="letter-1">P</span
          ><span class="letter">r</span><span class="letter">o</span
          ><span class="letter">j</span><span class="letter">e</span
          ><span class="letter">c</span><span class="letter">t</span></a
        >
      </div>
      <h1 class="topic">Prevention Cure</h1>
    </header>
    <section class="container-1">
      <div class="square-1">
        <div>
          <img
            class="img-1"
            src="https://img.freepik.com/free-vector/charity-logo-hands-supporting-heart-icon-flat-design-vector-illustration_53876-136266.jpg?w=740&t=st=1679489459~exp=1679490059~hmac=5576556b714839526223f936b52ed44b2688f171ad1c5043fcf2d1781fa7384e"
            alt="photo"
          />
        </div>
        <div class="content-1">
          <h1>Good Hygiene:</h1>
          <p>
            During puberty, the body produces more sweat and oil, which can lead
            to body odor and acne. Good hygiene practices include washing the
            body regularly with soap and water, paying attention to areas that
            tend to sweat more, such as the armpits, groin, and feet. It's
            important to use a mild soap or body wash that is formulated for
            sensitive skin, and to avoid using harsh scrubs or exfoliants that
            can irritate the skin. After washing, it's important to dry the skin
            thoroughly, especially in areas where moisture can accumulate, such
            as between the toes. Using antiperspirants or deodorants can help
            control sweating and odor, and using acne-fighting products, such as
            benzoyl peroxide or salicylic acid, can help prevent or treat acne.
          </p>
          <h3>Resources for Hygiene</h3>
          <ul>
            <li>
              <a class="link" href="https://www.aad.org/public"
                >Teen Skin Care</a
              >
              by the American Academy of Dermatology
            </li>
            <li>
              <a class="link" href="https://www.womenshealth.gov/"
                >Personal Hygiene for Girls</a
              >
              by the Office on Women's Health
            </li>
            <li>
              <a class="link" href="https://www.mouthhealthy.org/en/teens"
                >Oral Health for Teenagers</a
              >
              by the American Dental Association
            </li>
          </ul>
          <h1 style="margin-top: 2rem">Healthy Diet:</h1>
          <p>
            A healthy diet during puberty should include a variety of foods from
            all food groups, such as fruits, vegetables, whole grains, lean
            protein, and healthy fats. Eating a balanced diet provides the
            necessary nutrients to support growth and development. It's
            important to limit sugary and processed foods, as well as caffeine
            and alcohol, which can have negative impacts on overall health.
            Eating breakfast each day can also help regulate appetite and
            prevent overeating later in the day. Additionally, drinking plenty
            of water and staying hydrated is important for overall health, as
            well as for maintaining healthy skin.
          </p>
          <h3>Resources for Diet</h3>
          <ul>
            <li>
              <a class="link" href="https://www.eatright.org/"
                >Teen Nutrition</a
              >
              by the Academy of Nutrition and Dietetics
            </li>
            <li>
              <a class="link" href="https://www.heart.org/en/"
                >Healthy Eating for Kids and Teens</a
              >
              by the American Heart Association
            </li>
          </ul>
          <h1 style="margin-top: 2rem">Regular Exercise:</h1>
          <p>
            Regular exercise during puberty is important for maintaining a
            healthy weight, building muscle and bone strength, and reducing
            stress and anxiety. It's recommended that teenagers aim for at least
            60 minutes of moderate-intensity physical activity each day, such as
            brisk walking, cycling, swimming, or playing team sports.
            Strength-training exercises, such as push-ups or weightlifting, can
            also be beneficial for building muscle and bone strength. It's
            important to find activities that are enjoyable and sustainable, and
            to take rest days as needed to avoid injury.
          </p>
          <h3>Resources for Exercise</h3>
          <ul>
            <li>
              <a
                class="link"
                href="https://www.heart.org/en/healthy-living/fitness/fitness-basics/aha-recs-for-physical-activity-in-children"
                >Physical Activity for Kids and Teens</a
              >
              by the American Heart Association
            </li>
            <li>
              <a
                class="link"
                href="https://www.cdc.gov/healthyschools/physicalactivity/guidelines.htm"
                >Physical Activity for Teenagers</a
              >
              by the Centers for Disease Control and Prevention
            </li>
          </ul>
          <h1 style="margin-top: 2rem">Sleep</h1>
          <p>
            During puberty, the body requires more sleep than adults, with most
            teenagers needing between 8-10 hours of sleep per night. Getting
            enough sleep is important for physical and mental health, as it
            supports growth and development, improves cognitive function, and
            helps regulate mood. To improve sleep quality, teenagers should
            establish a regular sleep routine by going to bed and waking up at
            the same time each day, even on weekends. It's also important to
            avoid screen time before bed, as the blue light emitted from
            electronic devices can disrupt sleep. Creating a sleep-friendly
            environment that is quiet, cool, and dark can also promote better
            sleep quality.
          </p>
          <h3>Resources for Sleep</h3>
          <ul>
            <li>
              <a
                class="link"
                href="https://www.sleepfoundation.org/articles/teens-and-sleep"
                >Sleep for Teenagers</a
              >
              by the National Sleep Foundation
            </li>

            <li>
              <a
                class="link"
                href="https://www.cdc.gov/sleep/about_sleep/sleep_hygiene.html"
                >Sleep for Teenagers</a
              >
              by the Centers for Disease Control and Prevention
            </li>
          </ul>
          <h1 style="margin-top: 2rem">Emotional Support:</h1>
          <p>
            Puberty can be a challenging time emotionally, as teenagers may
            experience mood swings, anxiety, and depression. It's important for
            teenagers to have a support system of family, friends, or a mental
            health professional to talk to and get support from. Practicing
            stress-reducing techniques, such as mindfulness, meditation, or
            journaling, can also help manage emotions and improve mental
            well-being. It's important for teenagers to prioritize their mental
            health and seek help if they are struggling.
          </p>
          <h3>Resources for Emotional support</h3>
          <ul>
            <li>
              <a class="link" href="https://www.apa.org/topics"
                >Emotional Wellness for Teenagers</a
              >
              by the American Psychological Association
            </li>
            <li>
              <a
                class="link"
                href="https://www.nimh.nih.gov/health/topics/child-and-adolescent-mental-health/index.shtml"
                >Teen Mental Health</a
              >
              by the National Institute of Mental Health
            </li>
            <li>
              <a
                class="link"
                href="https://www.samhsa.gov/serious-mental-illness"
                >Mental Health</a
              >by the SAMHSA of U.S. Department of Health & Human Services
            </li>
          </ul>
          <h1 style="margin-top: 2rem">Safe sex practices:</h1>
          <p>
            As teenagers become sexually active, it's important to practice safe
            sex to prevent sexually transmitted infections (STIs) and unwanted
            pregnancies. This includes using condoms, getting vaccinated for
            HPV, and discussing birth control options with a healthcare
            provider. It's also important to get regular STI screenings and talk
            openly and honestly with sexual partners about sexual health and
            boundaries. Teenagers should prioritize their sexual health and
            well-being, and seek help or guidance if needed. There are many
            resources available for teenagers, such as school-based health
            clinics or family planning clinics, that can provide information and
            support.
          </p>
          <h3>Resources of Safe Sex Practices</h3>
          <ul>
            <li>
              <a class="link" href="https://www.ashasexualhealth.org/"
                >American Sexual Health Association's website</a
              >
              for information on sexual health for teenagers.
            </li>
            <li>
              <a
                class="link"
                href="https://www.plannedparenthood.org/learn/teens"
                >Planned Parenthood's website</a
              >
              for resources on sexual health for teenagers.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- <section class="container-2">
      <div class="square-2">
        <div><img src="" alt="/images/pimplegirl.png" class="img-2" /></div>
        <div class="content-2">
          <h1>pimple</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            quisquam debitis accusantium corporis enim impedit minima eveniet
            voluptatibus porro architecto cupiditate ea recusandae at quibusdam,
            facere molestias, voluptate esse deserunt atque asperiores officiis!
            Expedita numquam culpa facilis dolor, esse, aut inventore, ratione
            illum quas officia quisquam dolorum harum. Maiores, voluptatibus
            maxime sunt earum adipisci ratione cum officiis similique! Nulla,
            culpa nam iure consectetur perspiciatis ducimus sit vitae deserunt
            reprehenderit illum ipsam labore, voluptas delectus! Accusamus nulla
            reiciendis aperiam, veniam amet, doloremque vel vero tempora
            mollitia ratione porro voluptas sapiente libero, incidunt quidem
            dolore cumque dicta doloribus. Numquam nemo eveniet ipsum adipisci
            illum corrupti eum ipsa sunt asperiores quidem, expedita aliquam,
            magni repellat laboriosam amet esse ab totam ducimus debitis
            dignissimos ut fugit. Facilis dicta consequatur blanditiis pariatur
            ab ratione delectus iure necessitatibus, vel possimus amet
            perferendis eius quam. Exercitationem sapiente, sunt cum dolorum
            quasi minima fugit quidem temporibus libero asperiores, numquam
            illo. Aspernatur molestias cum ipsum corporis ratione quisquam
            officiis, reiciendis obcaecati blanditiis ipsam ducimus voluptatum
            numquam in, consequuntur ut facere recusandae earum dignissimos
            aliquid eligendi magnam! Fugit voluptate expedita magnam asperiores
            soluta error? Provident itaque nesciunt doloribus, aut quis minima
            quibusdam! Laudantium culpa placeat rem. Voluptatem nam unde non.
          </p>
        </div>
      </div>
    </section> -->
  </body>
</html>
