<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="puberty.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

  <title>Puberty Project</title>
</head>

<body>
  <header>
    <a href="/explore" class="btn41-43 btn-41"><i class="fas fa-angle-double-left"></i> Back
    </a>
    <div class="logo">
      <a href="/" class="logo btn-41 btn41-43">
        <span class="letter-0">⚤</span>
        <span class="letter-1">P</span><span class="letter">u</span><span class="letter">b</span><span
          class="letter">e</span><span class="letter">r</span><span class="letter">t</span><span
          class="letter">y</span><span class="letter-1">P</span><span class="letter">r</span><span
          class="letter">o</span><span class="letter">j</span><span class="letter">e</span><span
          class="letter">c</span><span class="letter">t</span></a>
    </div>
    <h1 class="topic">Puberty</h1>
  </header>
  <section class="container-1">
    <div class="square-1">
      <div>
        <img class="img-1"
          src="https://img.freepik.com/free-vector/pride-day-people-illustration_23-2148504282.jpg?w=740&t=st=1679489668~exp=1679490268~hmac=4e0cb14ad058336854c7bc0dc73a198d0a4d72665520626136a12423d7860b35"
          alt="photo" />
      </div>
      <div class="content-1">
        <h1>LGBTQ</h1>
        <p style="font-weight: 700">
          LGBTQ = Lesbian, Gay, Bisexual, Transgender, Queer or Questioning
          persons or the community.
        </p>
        <p>
          Equality and freedom from discrimination are fundamental human
          rights that belong to all people, regardless of sexual orientation,
          gender identity or because they are intersex.
        </p>
        <h2>LESBIAN</h2>
        <p>
          A woman whose enduring physical, romantic, and/or emotional
          attraction is to other women. Some lesbians may prefer to identify
          as gay or as gay women.
        </p>
        <h2>GAY</h2>
        <p>
          The adjective describes people whose enduring physical, romantic,
          and/or emotional attractions are to people of the same sex.
          Sometimes lesbian is the preferred term for women.
        </p>

        <h2>BISEXUAL</h2>
        <p>
          A person who can form enduring physical, romantic, and/or emotional
          attractions to those of the same gender or more than one gender.
          People may experience this attraction in differing ways and degrees
          over their lifetime. Bisexual people need not have had specific
          sexual experiences to be bisexual; they need not have had any sexual
          experience at all to identify as bisexual.
        </p>
        <h2>TRANSGENDER</h2>
        <p>
          An umbrella term for people whose gender identity and/or gender
          expression differs from what is typically associated with the sex
          they were assigned at birth. People under the transgender umbrella
          may describe themselves using one or more of a wide variety of
          terms— including transgender or nonbinary. Some transgender people
          are prescribed hormones by their doctors to bring their bodies into
          alignment with their gender identity. Some undergo surgery as well.
          But not all transgender people can or will take those steps, and a
          transgender identity is not dependent upon physical appearance or
          medical procedures.
        </p>
        <h2>QUEER</h2>
        <p>
          An adjective used by some people whose sexual orientation is not
          exclusively heterosexual or straight. This umbrella term includes
          people who have nonbinary, gender-fluid, or gender nonconforming
          identities. Once considered a pejorative term, queer has been
          reclaimed by some LGBTQIA+ people to describe themselves; however,
          it is not a universally accepted term even within the LGBTQIA+
          community.
        </p>
        <h1>QUESTIONING</h1>
        <p>
          Sometimes, when the Q is seen at the end of LGBT, it can also mean
          questioning. This term describes someone who is questioning their
          sexual orientation or gender identity.
        </p>
        <h1>INTERSEX</h1>
        <p>
          An adjective used to describe a person with one or more innate sex
          characteristics, including genitals, internal reproductive organs,
          and chromosomes, that fall outside of traditional conceptions of
          male or female bodies. Do not confuse having an intersex trait with
          being transgender. Intersex people are assigned a sex at birth —
          either male or female — and that decision by medical providers and
          parents may not match the gender identity of the child. Not all
          intersex folks identify as being part of the LGBTQIA+ community.
        </p>
        <h1>ASEXUAL</h1>
        <p>
          The adjective describes a person who does not experience sexual
          attraction. Sometimes shortened to “ace,” it is an umbrella term
          that can also include people who are demisexual, meaning they do
          experience some sexual attraction; graysexual, meaning those who may
          not fit the strictest definition of the word asexual; and aromantic,
          meaning they experience little to no romantic attraction and/or has
          little to no desire to form romantic relationships.
        </p>
        <h1>+ PLUS</h1>
        <p>
          The ‘plus’ is used to signify all of the gender identities and
          sexual orientations that letters and words cannot yet fully
          describe.
        </p>
        <h1 style="font-weight: 600; margin-bottom: 1rem">
          7 cool facts about LGBT community
        </h1>
        <ol>
          <li>
            42% of people who are LGBT report living in an unwelcoming
            environment.
          </li>
          <li>
            80% of gay and lesbian youth report severe social isolation.
          </li>
          <li>
            6 in 10 LGBT students report feeling unsafe at school because of
            their sexual orientation. You can encourage your classmates to
            accept LGBT students by promoting your views on social media.
          </li>
          <li>0% of teens who ar9e LGBT come out to their close friends.</li>
          <li>
            In 2013, 92% of adults who are LGBT said they believe society had
            become more accepting of them than in the past 10 years.
          </li>
          <li>
            Young people who are LGBT and who are “out” to their immediate
            families report feeling happier than those who aren’t.
          </li>
          <li>
            While non-LGBT students struggle most with school classes, exams,
            and work, their LGBT peers say the biggest problem they face is
            unaccepting families.
          </li>
        </ol>

        <h2 style="margin-top: 1.5rem; margin-bottom: 1rem">
          LGBTQ+ Pride Flags and What They Stand For :
        </h2>
        <h3>Gilbert Baker Pride Flag</h3>
        <p>Gilbert Pride Flag , the flag that started it all…</p>
        <p>
          It was created in 1977 by Gilbert Baker, an artist, activist, and
          openly gay military veteran. Tasked by Harvey Milk, a historic
          figure in the fight for LGBTQ rights, to create a flag for the queer
          community, Baker created a rainbow flag with eight different colors.
        </p>
        <p>
          Inspired by the classic song "Over the Rainbow" from the 1939 film
          The Wizard from Oz, Baker created a rainbow flag to represent LGBTQ
          folks. Each color in the flag also had a specific meaning.
        </p>
        <p>Hot Pink symbolizes sex</p>
        <p>Red equals life</p>
        <p>Orange symbolizes healing</p>
        <p>Yellow stands for sunlight</p>
        <p>Green represents nature|</p>
        <p>Turquoise equals magic & art</p>
        <p>Indigo stands for serenity</p>
        <p>Violet represents the spirit of LGBTQ people</p>
      </div>
      <h3>
        Refer to the link below for more information on The Pride Flags :  <a
          href="https://www.volvogroup.com/en/news-and-media/news/2021/jun/lgbtq-pride-flags-and-what-they-stand-for.html#:~:text=The%20pink%20on%20the%20flag,indicate%20an%20alternative%20sexual%20identity.">LGBTQ+
           Pride Flags and What They Stand For | Volvo Group </a>
      </h3>
    </div>
  </section>

</body>

</html>