<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="topics.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>Puberty Project</title>
  </head>
  <body>
    <header>
      <a href="/explore" class="btn41-43 btn-41"
        ><i class="fas fa-angle-double-left"></i> Back
      </a>
      <div class="logo">
        <a href="/" class="logo btn-41 btn41-43">
          <span class="letter-0">⚤</span>
          <span class="letter-1">P</span><span class="letter">u</span
          ><span class="letter">b</span><span class="letter">e</span
          ><span class="letter">r</span><span class="letter">t</span
          ><span class="letter">y</span><span class="letter-1">P</span
          ><span class="letter">r</span><span class="letter">o</span
          ><span class="letter">j</span><span class="letter">e</span
          ><span class="letter">c</span><span class="letter">t</span></a
        >
      </div>
      <h1 class="topic">pride-flag</h1>
    </header>
    <section class="container-1">
      <div class="square-1">
        <div>
          <img class="img-1" src="/images/pimplegirl.png" alt="photo" />
        </div>
        <div class="content-1">
          <h1>Pimples</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis enim quos cum! Eius commodi velit impedit itaque
            suscipit, necessitatibus enim voluptatibus cupiditate aliquam
            reiciendis quidem, tempora atque omnis, consequatur rerum qui.
            Labore reiciendis provident adipisci qui eligendi, reprehenderit
            minima laborum voluptas omnis itaque vero? Nostrum illum dolorum
            reprehenderit laborum, totam in ipsum consequatur, similique
            nesciunt odio provident perferendis. Consectetur iste porro
            veritatis illo cum error ullam fugit quo voluptatem distinctio.
            Totam in maiores, amet culpa optio accusantium a quas neque, dolorem
            porro perferendis asperiores voluptatem esse animi quaerat
            architecto alias eveniet odit accusamus dolor. Obcaecati nisi eaque
            quam deserunt laboriosam, odit itaque odio, optio assumenda iure
            vero? Pariatur voluptatibus qui reiciendis ipsum doloribus autem
            placeat a tenetur adipisci repudiandae provident repellat, corporis
            suscipit ullam iste nulla quasi vel error est quis, explicabo fuga
            rerum ea. Sequi, quisquam. Eligendi, placeat. Rerum rem, iste
            consectetur fugit saepe sint reiciendis. Placeat voluptas ut fugiat
            quibusdam animi numquam illo excepturi consequuntur, dolore aliquid
            nobis debitis aspernatur nihil unde facere iusto dolor, ipsam ea?
            Dolores pariatur aut sunt animi fugit non quod nobis eos reiciendis,
            alias dignissimos ab quaerat eaque! Repellat vitae quae, eius a ut
            molestias eligendi adipisci, vel ipsum nulla soluta cum expedita.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro,
            eveniet esse, modi magni ducimus culpa optio veritatis sunt eos
            molestias sed iste, voluptate id voluptatem placeat accusamus.
            Voluptas excepturi laboriosam quidem doloremque corrupti cumque in
            rerum, delectus illo. Ut, labore et! Ipsum explicabo nulla at omnis
            tempora molestias aliquid nesciunt illo esse a fugiat possimus
            corporis libero nemo ipsa et, facilis in, inventore hic fuga quia
            quisquam necessitatibus quae consectetur. Sint ullam quia qui
            reprehenderit et culpa molestiae alias, minima cumque, vel esse
            nihil fugiat, eum libero? Minima sint necessitatibus alias adipisci,
            aspernatur, eveniet perspiciatis placeat similique facilis iusto
            praesentium!
          </p>
        </div>
      </div>
    </section>
    <section class="container-2">
      <div class="square-2">
        <div><img src="" alt="/images/pimplegirl.png" class="img-2" /></div>
        <div class="content-2">
          <h1>pimple</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            quisquam debitis accusantium corporis enim impedit minima eveniet
            voluptatibus porro architecto cupiditate ea recusandae at quibusdam,
            facere molestias, voluptate esse deserunt atque asperiores officiis!
            Expedita numquam culpa facilis dolor, esse, aut inventore, ratione
            illum quas officia quisquam dolorum harum. Maiores, voluptatibus
            maxime sunt earum adipisci ratione cum officiis similique! Nulla,
            culpa nam iure consectetur perspiciatis ducimus sit vitae deserunt
            reprehenderit illum ipsam labore, voluptas delectus! Accusamus nulla
            reiciendis aperiam, veniam amet, doloremque vel vero tempora
            mollitia ratione porro voluptas sapiente libero, incidunt quidem
            dolore cumque dicta doloribus. Numquam nemo eveniet ipsum adipisci
            illum corrupti eum ipsa sunt asperiores quidem, expedita aliquam,
            magni repellat laboriosam amet esse ab totam ducimus debitis
            dignissimos ut fugit. Facilis dicta consequatur blanditiis pariatur
            ab ratione delectus iure necessitatibus, vel possimus amet
            perferendis eius quam. Exercitationem sapiente, sunt cum dolorum
            quasi minima fugit quidem temporibus libero asperiores, numquam
            illo. Aspernatur molestias cum ipsum corporis ratione quisquam
            officiis, reiciendis obcaecati blanditiis ipsam ducimus voluptatum
            numquam in, consequuntur ut facere recusandae earum dignissimos
            aliquid eligendi magnam! Fugit voluptate expedita magnam asperiores
            soluta error? Provident itaque nesciunt doloribus, aut quis minima
            quibusdam! Laudantium culpa placeat rem. Voluptatem nam unde non.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
