<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="puberty.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Puberty Project</title>
  </head>
  <body>
    <header>
      <a href="/explore" class="btn41-43 btn-41"
        ><i class="fas fa-angle-double-left"></i> Back
      </a>
      <div class="logo">
        <a href="/" class="logo btn-41 btn41-43">
          <span class="letter-0">⚤</span>
          <span class="letter-1">P</span><span class="letter">u</span
          ><span class="letter">b</span><span class="letter">e</span
          ><span class="letter">r</span><span class="letter">t</span
          ><span class="letter">y</span><span class="letter-1">P</span
          ><span class="letter">r</span><span class="letter">o</span
          ><span class="letter">j</span><span class="letter">e</span
          ><span class="letter">c</span><span class="letter">t</span></a
        >
      </div>
      <h1 class="topic">Puberty</h1>
    </header>
    <section class="container-1">
      <div class="square-1">
        <div>
          <img
            class="img-1"
            src="https://hormonehealth.co.uk/wp-content/uploads/mood-swings-hormonal-imbalance-menopause-hormone-health.jpg"
            alt="photo"
          />
        </div>
        <div class="content-1">
          <h1>What is this PYOO-ber-tee?</h1>
          <p>
            Puberty is the name for the time when your body begins to develop
            and change as you move from kid to adult. We're talking about stuff
            like girls developing breasts and boys starting to look more like
            men. No matter where you live, whether you're a boy or a girl,
            whether you like pizza with pineapples or pizza without pineapples,
            you will experience them. No two people are exactly alike, but one
            thing everyone has in common is that we all go through puberty.
            Usually, puberty starts between ages 8 and 13 in girls and ages 9
            and 15 in boys. This wide range in ages may help explain why some of
            your friends still look like young kids whereas others look more
            like adults.
          </p>
          <h1>Hormonal Changes</h1>
          <p>
            For boys, the hormones travel through the blood and tell the testes,
            the two egg-shaped glands in the scrotum (the sac that hangs under
            the penis), to begin making testosterone and sperm. Testosterone is
            the hormone that causes most of the changes in a boy's body during
            puberty, and men need sperm to be able to reproduce (be the father
            of a baby). In girls, these hormones target the two ovaries, which
            contain eggs that have been in the girl's body since she was born.
            The hormones cause the ovaries to start making another hormone,
            called estrogen. Together, these hormones prepare a girl's body to
            start her periods and be able to become pregnant someday. Boys and
            girls both begin to grow hair under their arms and their pubic areas
            (on and around the genitals). It starts out looking light and thin.
            Then, as kids go through puberty, it becomes longer, thicker,
            heavier, curlier, and darker. Eventually, boys also start to grow
            hair on their faces.
          </p>
          <h1>Growth Spurt (We’re talking about the GLOW UP)</h1>
          <p>
            A spurt is a short burst of activity or something that happens in a
            hurry. And a growth spurt is just that: Your body is growing and
            it's happening really fast! When you go through puberty, it might
            seem like your sleeves are always getting shorter and your pants are
            creeping up your legs. That's because you're having a growth spurt
            that lasts for about 2 to 3 years. When that growth spurt is at its
            peak, some kids grow 4 or more inches (10 or more centimeters) in a
            year! At the end of your growth spurt, you'll have reached your
            adult height — or just about. But your height isn't the only thing
            that changes during puberty. With all this quick growth, it can seem
            like one part of your body — your feet, for instance — are growing
            faster than everything else. This can make you feel clumsy or
            awkward. This is normal, too! The rest of your body will eventually
            fill out and shape up, and you'll feel less klutzy.
          </p>
          <h1>Taking Shape</h1>
          <p>
            body will become more muscular. He may notice a bit of breast growth
            on his chest. Don't worry, this is normal — and it goes away for
            most boys by the end of puberty. In addition, boys' voices crack and
            eventually become deeper, their penises grow longer and wider, and
            their testes get bigger. All of these changes mean that their bodies
            are developing as they should during puberty. Girls' bodies usually
            become curvier. Their hips get wider and their breasts develop,
            starting with just a little swelling under the nipples. Sometimes
            one breast grows more quickly than the other, but most of the time
            they even out. Girls may start wearing bras around this time,
            especially if they are involved in sports or exercise classes. With
            all this growing and developing going on, some girls may be
            uncomfortable with how their bodies are changing, but it's unhealthy
            for girls to diet to try to stop any normal weight gain. If you have
            any questions about puberty or are worried about your weight, talk
            to your parent or doctor. One question a girl will have is: When
            will I get my first period? This usually happens about 2 years after
            her breasts start to develop. The menstrual period, or monthly
            cycle, is when blood is released through the vagina. That may sound
            alarming, but it's normal and it signals that a girl is growing up
            and her body is preparing so that she can have a baby someday.
            Here's what's going on: Each of a girl's two ovaries holds thousands
            of eggs. During the menstrual cycle, an egg is released from one of
            the ovaries and begins a trip down the fallopian (say:
            fuh-lo-pee-un) tube to the uterus, also called the womb. A girl has
            two fallopian tubes, one connecting each ovary to the uterus. Before
            the egg even leaves the ovary, though, hormones stimulate the uterus
            to build up its inner lining with extra blood and tissue. If the egg
            gets to the uterus and is fertilized by a sperm cell, it may plant
            itself in that lining and grow into a baby. The extra blood and
            tissue nourishes and protects the baby as it develops. But most of
            the time the egg is only passing through. When the egg doesn't get
            fertilized, or if the fertilized egg doesn't become planted in the
            lining, the uterus no longer needs the extra blood and tissue, so
            the blood leaves the body through the vagina. This blood is known as
            a girl's period. A period usually lasts from 2 to 7 days. About 2
            weeks after the last period, a new egg is released as the cycle
            repeats itself.
          </p>
          <h1>You are not a mutant</h1>
          <p>
            Boys and girls will also notice other body changes as they enter
            puberty. Girls sometimes might see and feel white or clear stuff
            coming from the vagina. This doesn't mean anything is wrong — it's
            called vaginal discharge and is just another sign hormones are
            changing your body. Boys will begin to get erections (this is when
            the penis fills with blood and becomes hard). Sometimes erections
            happen when boys think about sexual things or they can happen for no
            reason at all. Boys also may experience something called nocturnal
            emissions (or wet dreams). This is when the penis becomes erect when
            a boy is sleeping and he ejaculates. When a boy ejaculates, semen —
            the fluid that contains sperm — comes out of the penis. That's why
            they're called wet dreams — they happen when you're sleeping and
            your underwear or the bed might be a little wet when you wake up.
            Wet dreams occur less often as boys move through puberty and they
            eventually stop.
          </p>
          <h1>Weird Emotions</h1>
          <p>
            Just as those hormones change the way your body looks on the
            outside, they also create changes on the inside. During puberty, you
            might feel confused or have strong emotions that you've never had
            before. You might feel overly sensitive or become upset easily. Some
            kids lose their tempers more often and get angry with their friends
            or families. You also may feel anxious about how your changing body
            looks. Sometimes it can be hard to deal with all these new emotions.
            It's important to know that while your body is adjusting to the new
            hormones, so is your mind. Try to remember that people usually
            aren't trying to hurt your feelings or upset you on purpose. It
            might not be your family or friends — it might be your new "puberty
            brain" trying to adjust. You might also have sexual feelings that
            you've never felt before. And you will probably have lots of
            questions about these new, confusing feelings about sex. It's easy
            to feel embarrassed or nervous when talking about sex. It's
            important to get your questions answered, but you need to be sure
            you have all the right information. Some kids can talk to their
            parents about sex and get all their questions answered. But if you
            feel funny talking to your parents about sex, there are many other
            people you can talk to, like your doctor, a school nurse, a teacher,
            a school counselor, or some other adult you feel comfortable talking
            with.
          </p>
          <h1>Developing Differently</h1>
          <p>
            People are all a little different from each other, so it makes sense
            that they don't all develop in the same way. During puberty,
            everyone changes at his or her own pace. Maybe some of your friends
            are getting their period, and you haven't developed breasts yet.
            Maybe your best friend's voice has changed, and you think you still
            sound like a kid. Or maybe you're sick of being the tallest girl in
            your class or the only boy who has to shave. In a few cases, kids
            who are developing very early or who are very late in starting have
            a problem that may need to be checked or treated. If you are
            concerned about that possibility, talk with your parents and
            schedule a visit with your doctor. Your doctor knows all about
            puberty and can help determine if you are developing normally. But
            just about everyone catches up eventually, and most differences
            between you and your friends will even out. Until then, hang in
            there. Puberty can be quite a wild ride!
          </p>
        </div>
      </div>
    </section>
    <!-- <section class="container-2">
      <div class="square-2">
        <div><img src="" alt="/images/pimplegirl.png" class="img-2" /></div>
        <div class="content-2">
          <h1>pimple</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            quisquam debitis accusantium corporis enim impedit minima eveniet
            voluptatibus porro architecto cupiditate ea recusandae at quibusdam,
            facere molestias, voluptate esse deserunt atque asperiores officiis!
            Expedita numquam culpa facilis dolor, esse, aut inventore, ratione
            illum quas officia quisquam dolorum harum. Maiores, voluptatibus
            maxime sunt earum adipisci ratione cum officiis similique! Nulla,
            culpa nam iure consectetur perspiciatis ducimus sit vitae deserunt
            reprehenderit illum ipsam labore, voluptas delectus! Accusamus nulla
            reiciendis aperiam, veniam amet, doloremque vel vero tempora
            mollitia ratione porro voluptas sapiente libero, incidunt quidem
            dolore cumque dicta doloribus. Numquam nemo eveniet ipsum adipisci
            illum corrupti eum ipsa sunt asperiores quidem, expedita aliquam,
            magni repellat laboriosam amet esse ab totam ducimus debitis
            dignissimos ut fugit. Facilis dicta consequatur blanditiis pariatur
            ab ratione delectus iure necessitatibus, vel possimus amet
            perferendis eius quam. Exercitationem sapiente, sunt cum dolorum
            quasi minima fugit quidem temporibus libero asperiores, numquam
            illo. Aspernatur molestias cum ipsum corporis ratione quisquam
            officiis, reiciendis obcaecati blanditiis ipsam ducimus voluptatum
            numquam in, consequuntur ut facere recusandae earum dignissimos
            aliquid eligendi magnam! Fugit voluptate expedita magnam asperiores
            soluta error? Provident itaque nesciunt doloribus, aut quis minima
            quibusdam! Laudantium culpa placeat rem. Voluptatem nam unde non.
          </p>
        </div>
      </div>
    </section> -->
  </body>
</html>
