<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>replit</title>
    <link href="about.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="component.css" />
  </head>

  <body>
    <%- include('./component/navbar') %>
    <center>
      <div class="about_container">
        <div>
          <img id="img" src="/images/about-img.jpg" />
        </div>
        <div>
          <h2 id="about">________About Us________</h2>
          <p>
            Welcome to 'The Puberty Project', a safe and informative space for
            teenagers aged 13-18 to learn about topics related to puberty,
            menstruation, hormones, sex education, and more. <br /><br />We
            believe that every teenager deserves access to accurate and
            trustworthy information about their bodies and sexual health. That's
            why we created this website to provide a space for teens to learn
            about these topics in a safe, non-judgemental and teenager-friendly
            way. <br /><br />
            Our team has created a variety of articles, videos, and resources
            that are specifically tailored to the needs of teenagers. We
            understand that discussing these topics can be uncomfortable, which
            is why we've made sure that our content is presented in a way that's
            easy to understand and approachable. Our goal is to provide you with
            the knowledge and resources you need to make informed decisions
            about your body and health.
            <br /><br />
            At 'The Puberty Project', we believe that education is key to
            healthy and happy relationships, both with yourself and others. We
            encourage you to explore our website and take advantage of the
            resources we have available.
            <br /><br />Whether you're looking for information on puberty,
            menstrual cycles, or sexual health, we're here to provide you with
            the support and knowledge you need. We welcome your questions and
            encourage you to reach out to us if you have any concerns or need
            further information. <br /><br />
            We're here to support you at every step of the way!🤍
          </p>
        </div>
      </div>
    </center>
  </body>
</html>
