<link rel="stylesheet" type="text/css" href="explore.css" />
<link rel="stylesheet" href="component.css" />

<body>
  <%- include('./component/navbar') %>
  <div class="blog-section">
    <div class="blog-box">
      <a href="/puberty">
        <div class="auto-img">
          <img
            src="https://cdn.shopify.com/s/files/1/0072/3681/2858/files/signs-of-puberty-in-boys.jpg?v=1529041969"
            alt="Blog 1"
          />
        </div>
        <div>
          <h2>Puberty</h2>
        </div>
      </a>
    </div>
    <div class="blog-box">
      <a href="/hormones">
        <div class="auto-img">
          <img
            src="https://cdn.the-scientist.com/assets/articleNo/69143/aImg/43399/microbiome-article-m.jpg"
            alt="Blog 2"
          />
        </div>
        <h2>Hormones</h2>
      </a>
    </div>
    <div class="blog-box">
      <a href="/menstruation">
        <div class="auto-img">
          <img
            src="https://mycitylinks.in/wp-content/uploads/2021/05/Image1-1.jpg"
            alt="Blog 3"
          />
        </div>
        <h2>Menstruation</h2>
      </a>
    </div>
    <div class="blog-box">
      <a href="/pride-flag">
        <div class="auto-img">
          <img
            src="https://assets.volvo.com/is/image/VolvoInformationTechnologyAB/Color-Pride-Flag?qlt=82&wid=1024&ts=1670909834760&dpr=off&fit=constrain&fmt=png-alpha"
            alt="Blog 4"
          />
        </div>
        <h2>The Pride Flag</h2>
      </a>
    </div>
    <div class="blog-box">
      <a href="/education">
        <div class="auto-img">
          <img
            src="https://helios-i.mashable.com/imagery/articles/00Ux50bcW4qDUI53qgUi5wf/hero-image.fill.size_1248x702.v1635274213.png"
            alt="Blog 5"
          />
        </div>
        <h2>Shhh Education</h2>
      </a>
    </div>
    <div class="blog-box">
      <a href="/prevention-cure">
        <div class="auto-img">
          <img
            src="http://cdn.shopify.com/s/files/1/1416/1856/products/punky-pins-take-care-of-yourself-soft-enamel-pin-29833609478333.jpg?v=1628158419"
            alt="Blog 6"
          />
        </div>
        <h2>Prevention & Cure</h2>
      </a>
    </div>
  </div>
</body>
