<link rel="stylesheet" type="text/css" href="explore.css" />
<link rel="stylesheet" href="component.css" />
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

<body>
  <%- include('./component/navbar') %>
  <div class="cards">
    <div class="card-container">
      <!--  -->
      <div class="card card-1">
        <div class="card-img"></div>
        <a href="/puberty" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">Puberty</h1>
        </div>
      </div>
      <!--  -->
      <div class="card card-2">
        <div class="card-img"></div>
        <a href="/hormones" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">Hormones</h1>
        </div>
      </div>
      <!--  -->
      <div class="card card-3">
        <div class="card-img"></div>
        <a href="/pride-flag" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">The Pride Flag</h1>
        </div>
      </div>
      <!--  -->
      <div class="card card-4">
        <div class="card-img"></div>
        <a href="/menstruation" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">Menstruation</h1>
        </div>
      </div>
      <!--  -->
      <div class="card card-5">
        <div class="card-img"></div>
        <a href="/prevention-cure" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">Prevention & Cure</h1>
        </div>
      </div>
      <!--  -->
      <div class="card card-6">
        <div class="card-img"></div>
        <a href="/education" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">Shhh Education</h1>
        </div>
      </div>
      <!--  -->
      <div class="card card-7">
        <div class="card-img"></div>
        <a href="/mental-health" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">Mind Matters</h1>
        </div>
      </div>
      <!--  -->
      <div class="card card-8">
        <div class="card-img"></div>
        <a href="/parents" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <h1 class="card-title">For Parents</h1>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</body>
