<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>replit</title>
  <link href="contact.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="component.css" />
  <link rel="stylesheet" href="faq.css" />
</head>

<body>
  <%- include('./component/navbar') %>
  <div class="faq-main">
    <h1 class="faq-heading">FAQ Section</h1>
    <div class="faq-container">
      <div class="faq-block">
        <h3>How can i contact with you guys ?</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          expedita dolorum in repudiandae ab inventore quae suscipit doloribus?
          Amet, ipsa.
        </p>
      </div>
      <div class="faq-block">
        <h3>How can i contact with you guys ?</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          expedita dolorum in repudiandae ab inventore quae suscipit doloribus?
          Amet, ipsa.
        </p>
      </div>
      <div class="faq-block">
        <h3>How can i contact with you guys ?</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          expedita dolorum in repudiandae ab inventore quae suscipit doloribus?
          Amet, ipsa.
        </p>
      </div>
      <div class="faq-block">
        <h3>How can i contact with you guys ?</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          expedita dolorum in repudiandae ab inventore quae suscipit doloribus?
          Amet, ipsa.
        </p>
      </div>
      <div class="faq-block">
        <h3>How can i contact with you guys ?</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
          expedita dolorum in repudiandae ab inventore quae suscipit doloribus?
          Amet, ipsa.
        </p>
      </div>
    </div>
  </div>
</body>
