<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Puberty Project</title>
    <link href="home.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <h2 id="home_head">The Puberty Project</h2>
      <nav class="navMenu">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/explore">explore</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
        <div class="dot"></div>
      </nav>
    </header>
    <div class="home">
      <div id="homeTXT">
        <div class="left_small_div">
          <h1><i>"Navigating the journey to adulthood together."</i></h1>
          <div>
            <a id="start_btn" href="/explore">Explore!</a>
          </div>
        </div>
      </div>
      <div id="home_right">
        <img id="homePgIllus" src="/images/hero-img.png" alt="HomePgIllus" />
      </div>
    </div>
  </body>
</html>
