@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  padding: 1rem 3rem;
}

#img {
  height: 210px;
  width: 250px;
  border-radius: 2%;
  /* position: relative;
  top: 25px;
  right: 20px; */
  /* width: 400px; */
  /* margin-top: 50%; */
}
.img-container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  margin-right: 3.5%;
  background-color: gray;
  /* align-items: center; */
}
.about_container {
  background-color:grey;
  display: flex;
  /* height: 800px; */
  width: 1200px;
  border-radius: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Lato";
  font-size: 1.1rem;
}

p {
  width: 90%;
  font-size: 110%;
  font-weight: 400;
  margin: 1%;
  padding: 3%;
  border-radius: 2%;
  background-color:white;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

#about {
  /* background-color: white; */
  /* width: 60%; */
  /* font-size: 200%; */
  margin-bottom: 1%;
  margin-top: 0%;
}
