@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  padding: 1rem 3rem;
}

#img {
  height: 400px;
  /* width: 400px; */
  /* margin-top: 50%; */
}
.img-container {
  display: flex;
  align-items: center;
}
.about_container {
  background-color: white;
  display: flex;
  /* height: 800px; */
  width: 1200px;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Lato";
  font-size: 1.1rem;
}

p {
  /* font-size: 130%; */
  margin-right: 5%;
  border-radius: 5%;
  padding: 3%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

#about {
  /* background-color: white; */
  /* width: 60%; */
  /* font-size: 200%; */
  margin-bottom: 1%;
  margin-top: 2%;
  margin-right: 8%;
  border-radius: 2%;
}
