#home_head {
  color: #444444;
  font-size: 2.5rem;
  font-weight: 300;
}
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
}

.navMenu {
  display: flex;
  align-items: center;
}
.navMenu ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.navMenu ul li a {
  font-size: 1.6rem;
  font-weight: 100;
  text-decoration: none;
  opacity: 0.6;
  color: black;
}
.navMenu ul li:hover {
  transform: scale(1.1);
  color: #ee78c7;
}
.navMenu a:hover {
  color: #ee78c7;
}
