@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --card-img-height: 250px;
}
body {
  padding: 1rem 3rem;
  background: #ebecf0;
  min-height: 100vh;
}

body a {
  text-decoration: none;
  color: #172b4d;
}
body h1 {
  font-family: "Lato";
  font-weight: 300;
  font-size: 1.7rem;
}

/* DEFAULT STYLE */
.card-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.card {
  align-self: flex-start;
  position: relative;
  width: 325px;
  min-width: 275px;
  margin: 1.25rem 0.75rem;
  background: white;
  transition: all 300ms ease-in-out;
}
.card .card-img {
  visibility: hidden;
  width: 100%;
  height: var(--card-img-height);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  transition: all 350ms ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: var(--card-img-height);
  top: 0;
}
.card .card-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  transition: all 200ms ease-in-out;
}
.card .card-info .card-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  transition: all 200ms ease-in-out;
}
.card .card-info .card-about .card-tag {
  width: 60px;
  max-width: 100px;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #505f79;
  color: #fff;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  transform: scale(1.025);
}
.card:hover .card-img-hovered {
  --card-img-hovered-overlay: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.65)
  );
  height: 100%;
}
.card:hover .card-about,
.card:hover .card-creator {
  opacity: 0;
}
.card:hover .card-info {
  background-color: transparent;
}
.card:hover .card-title {
  color: #ebecf0;
}

.card-1 .card-img,
.card-1 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://cdn.shopify.com/s/files/1/0072/3681/2858/files/signs-of-puberty-in-boys.jpg?v=1529041969);
}

.card-2 .card-img,
.card-2 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://www.imago-images.com/bild/st/0158540457/w.jpg);
}

.card-3 .card-img,
.card-3 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://assets.volvo.com/is/image/VolvoInformationTechnologyAB/Color-Pride-Flag?qlt=82&wid=1024&ts=1670909834760&dpr=off&fit=constrain&fmt=png-alpha);
}
.card-4 .card-img,
.card-4 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://mycitylinks.in/wp-content/uploads/2021/05/Image1-1.jpg);
}

.card-5 .card-img,
.card-5 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(http://cdn.shopify.com/s/files/1/1416/1856/products/punky-pins-take-care-of-yourself-soft-enamel-pin-29833609478333.jpg?v=1628158419);
}

.card-6 .card-img,
.card-6 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay),
    url(https://helios-i.mashable.com/imagery/articles/00Ux50bcW4qDUI53qgUi5wf/hero-image.fill.size_1248x702.v1635274213.png);
}

.card-7 .card-img,
.card-7 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url();
}

.card-8 .card-img,
.card-8 .card-img-hovered {
  background-image: var(--card-img-hovered-overlay), url();
}
