* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}

.blog-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.blog-box {
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.blog-box img {
  width: 100%;
  height: 80%;
}

.blog-box h2 {
  margin: 5px, auto, 5px, auto;
  font-size: 26px;
  text-align: center;
}
