* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
a:link,
a:active {
  text-decoration: none;
}
body {
  background-color: #f6f6f6;
  padding: 1rem 3rem;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

#homePgIllus {
  max-height: 35rem;
}
h1 {
  font-size: 2.5rem;
}
#homeTXT div {
  width: 30rem;
  text-align: center;
}
#homeTXT {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 0 0 40%;
}

#start_btn {
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 0.7rem 1.4rem;
  background-color: #ee78c7;
  margin-top: 2rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 3px 0px white;
}
#start_btn:hover {
  background-color: #ff90da;
}
.left_small_div div {
  margin-top: 1.5rem;
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(244, 158, 217);
}
.btn-5:hover {
  color: #f0094a;
  color: black;
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  /* background: #f0094a; */
  background: rgb(244, 158, 217);

  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
